<p-splitter [panelSizes]="[70, 70]" styleClass="m-5" [style]="{ height: '72vh' }">
  <ng-template pTemplate>
    <div class="table_container">
      <app-calendario></app-calendario>
    </div>


  </ng-template>
  <ng-template pTemplate>
    <div class="form_container">
      <div class="head_form">
        <h3>Agendar una nueva cita</h3>
      </div>
      <div class="form_container">
        <div class="card flex justify-content-center">
          <label>Seleccione al Paciente</label>
        </div>
        <div class="card flex justify-content-center">
          <select [(ngModel)]="selectedPaciente" class="select-box">
            <option *ngFor="let option of pacientes" [ngValue]="option">
              {{ option.nombre }} {{option.primerApellido}} {{option.segundoApellido}}
            </option>
          </select>
        </div>
        <form>
          <div class="card flex justify-content-center">
            <label>Seleccione al Fecha</label>
          </div>
          <div class="card flex justify-content-center">
            <input type="date" name>
          </div>
          <div class="card flex justify-content-center">
            <label>Seleccione al Fecha</label>
          </div>
        </form>


      </div>
    </div>
  </ng-template>
</p-splitter>

<p-table [value]="citas" [selection]="selectedCita" (onRowSelect)="onSelectCita($event.data)">
  <ng-template pTemplate="header">
    <tr>
      <th>Rol</th>
      <th>Nombre del paciente</th>
      <th>Apellidos</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Notas</th>
      <th>Opciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cita>
    <tr>
      <td>{{ cita.rol_consulta }}</td>
      <td>{{ cita.Paciente.nombre }}</td>
      <td>{{ cita.Paciente.primerApellido + " " + cita.Paciente.segundoApellido}}</td>
      <td>{{ cita.Paciente.telefono}}</td>
      <td>{{ cita.Paciente.email}}</td>
      <td>{{ cita.Paciente?.notas}}</td>
      <td>
        <button pButton type="button" icon="pi pi-pencil" (click)="onSelectCita(cita)"></button>
        <button pButton type="button" icon="pi pi-trash" (click)="onDeleteCita(cita.id)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Detalles de Cita" [(visible)]="visible" [modal]="true" [responsive]="true">
  <div *ngIf="selectedCita">
  </div>
</p-dialog>