<div class="content">
<div class="containter">
    <p-card class="flex justify-content-center" styleClass=" xl:w-5 lg:w-7 md:w-8 sm:w-full m-2 p-5">
        <div class="flex justify-content-center m-5">
            <h1 class="text-8xl">404</h1>
        </div>
        
        <span>Parece que algo nos falta</span>
        <p>Acá tenemos links que te pueden ayudar</p>
        <ul>
            <li><a routerLink="../home">Página de Inicio</a></li>
            <li><a routerLink="cita">Agendar nueva cita</a></li>
        </ul>
    </p-card>
</div>
</div>
